body {
  margin: 0;
  font-family:'Belanosima' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#cebfdd;
}

.movie-img {
  max-width: 300px;
  max-height: 350px;
}
.movie-image-wrapper {
  width: 300px;
}
.stars::before{
  content: '\2605';
  position: absolute;
  top: 0px;
  line-height: 53px;
  font-size: 75px;
  /* border: 1px solid blue; */
  height: 65px;
  width: 65px;
  color: orange;
  display: block;
  z-index: -1;
}
.stars {
  position: relative;
    /* border: solid 1px red; */
    height: 65px;
    width: 65px;
    text-align: center;
    line-height: 65px;
    font-weight: bold;
}
.review {
  border-bottom: 1px solid #eee;
}
.review:last-child {
  border-bottom: none;
}
.synopsis {
  font-size: 20px;
}
.header {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(15,36,96,1) 100%);
color:white;
text-align: center;
font-size: 70px;
padding: 10px 0;
margin-bottom: 20px;
box-shadow: 0px 9px 8px 0px rgba(34, 33, 81, 0.92);
font-weight: bold;
text-shadow: 3px 3px 2px rgba(247, 35, 205, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
